# ─── Banco de dados ───────────────────────────────────────────────────────────
DATABASE_URL="mysql://USUARIO:SENHA@HOST:3306/NOME_DO_BANCO"

# ─── RabbitMQ (servidor da faculdade) ─────────────────────────────────────────
# Formato: amqp://usuario:senha@host:porta
RABBITMQ_URL="amqp://admin:admin@academico3.rj.senac.br:5672"

# ─── Configurações do microsserviço ──────────────────────────────────────────
PORT=9500
NODE_ENV=development

# Valor da multa por dia de atraso (R$)
VALOR_MULTA_DIA=2.50
